.rqb-container .rule,
.rqb-container .ruleGroup {
  font-size: 14px;
}
.rqb-container input,
.rqb-container select,
.rqb-container button {
  border: 1px solid #d1d5db; /* tailwind gray-300 */
  border-radius: 0.375rem; /* rounded */
  padding: 0.375rem 0.5rem; /* ~py-1.5 px-2 */
  background-color: #fff;
}
.rqb-container .rule .value,
.rqb-container .rule .fields,
.rqb-container .rule .operators {
  min-width: 8rem; /* prevent shrink */
}
.rqb-container .between-fields input {
  width: 7rem;
}
